In [1]:
import pandas as pd

# jobplanet_rates_02 concat

In [17]:
df02_01 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_01.csv", encoding='cp949')
df02_02 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_02.csv", encoding='cp949')
df02_03 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_03.csv", encoding='cp949')
df02_04 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_04.csv", encoding='cp949')
df02_05 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_05.csv", encoding='cp949')
df02_06 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_06.csv", encoding='cp949')
df02_07 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_07.csv", encoding='cp949')
df02_08 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_08.csv", encoding='cp949')
df02_09 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_09.csv", encoding='cp949')
df02_10 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_02/jobplanet_rates_02_10.csv", encoding='cp949')

In [18]:
df_02 = pd.concat([df02_01, df02_02, df02_03, df02_04, df02_05, df02_06, df02_07, 
              df02_08,df02_09, df02_10] )

# jobplanet_rates_06 concat

In [19]:
df06_01 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_01.csv", encoding='cp949')
df06_02 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_02.csv", encoding='cp949')
df06_03 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_03.csv", encoding='cp949')
df06_04 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_04.csv", encoding='cp949')
df06_05 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_05.csv", encoding='cp949')
df06_06 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_06.csv", encoding='cp949')
df06_07 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_07.csv", encoding='cp949')
df06_08 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_08.csv", encoding='cp949')
df06_09 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_09.csv", encoding='cp949')
df06_10 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_06/jobplanet_rates_06_10.csv", encoding='cp949')

In [20]:
df_06 = pd.concat([df06_01, df06_02, df06_03, df06_04, df06_05, df06_06, df06_07, 
                  df06_08, df06_09, df06_10] )

#  jobplanet_rates_07 concat

In [21]:
df07_01 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_01.csv", encoding='cp949')
df07_02 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_02.csv", encoding='cp949')
df07_03 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_03.csv", encoding='cp949')
df07_04 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_04.csv", encoding='cp949')
df07_05 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_05.csv", encoding='cp949')
df07_06 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_06.csv", encoding='cp949')
df07_07 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_07.csv", encoding='cp949')
df07_08 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_08.csv", encoding='cp949')
df07_09 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_09.csv", encoding='cp949')
df07_10 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_07/jobplanet_rates_07_10.csv", encoding='cp949')

In [22]:
df_07 = pd.concat([df07_01, df07_02, df07_03, df07_04, df07_05, df07_06, df07_07, 
                  df07_08, df07_09, df07_10] )

In [23]:
df_07

,Unnamed: 0,기업명,TotalAvg,Welfare,Balance,Culture,Promotion,Executive,Recommend,Support,Growth
0,0,(주)한일전자시스템,0.0,0.0,0.0,0.0,0.0,0.0,--%,--%,--%
1,1,(주)엔텔스,2.9,2.7,2.9,2.6,2.9,2.6,44%,65%,24%
2,2,(주)피엔알,2.3,2.1,3.3,2.9,2.8,1.6,13%,25%,--%
3,3,(주)비노기술,0.0,0.0,0.0,0.0,0.0,0.0,--%,--%,--%
4,4,(주)피씨엔,2.4,2.2,2.5,2.6,2.3,2.1,26%,43%,11%
...,...,...,...,...,...,...,...,...,...,...,...
11,11,(주)백선통신,0.0,0.0,0.0,0.0,0.0,0.0,--%,--%,--%
12,12,(주)엘케이시스템,1.0,1.0,3.0,2.5,3.0,2.0,--%,--%,--%
13,13,(주)사라다,2.0,1.5,1.5,1.5,3.0,1.0,--%,--%,--%
14,14,드림네트웍스(주),3.5,3.0,3.0,3.5,3.0,3.0,64%,89%,27%
15,15,(주)다솜이엔씨,3.0,2.0,3.0,2.0,3.0,2.0,--%,--%,--%

# jobplanet_rates_01 ~ 10 concat

In [27]:
df_01 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_01.csv", encoding='cp949')
df_03 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_03.csv", encoding='cp949')
df_04 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_04.csv", encoding='cp949')
df_05 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_05.csv", encoding='cp949')
df_08 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_08.csv", encoding='cp949')
df_09 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_09.csv", encoding='cp949')
df_10 = pd.read_csv("data/jobplanet_rates_data/jobplanet_rates_10.csv", encoding='cp949')

In [28]:
df_jobplanet_rates = pd.concat([df_01, df_02, df_03, df_04, df_05, df_06, df_07, 
                                df_08, df_09, df_10])
df_jobplanet_rates

,Unnamed: 0,기업명,TotalAvg,Welfare,Balance,Culture,Promotion,Executive,Recommend,Support,Growth
0,0,(주)소프트넷,2.1,2.1,2.1,2.1,2.4,1.9,22%,23%,12%
1,1,(주)키삭,2.6,1.8,4.0,2.6,1.4,1.6,40%,25%,20%
2,2,지누스(주),3.7,3.9,3.7,3.3,3.4,3.5,73%,81%,68%
3,3,(주)이씨뱅크,2.9,3.2,2.8,2.6,2.5,1.9,64%,22%,--%
4,4,(주)키다리스튜디오,3.0,3.1,3.3,3.0,2.7,2.7,49%,49%,40%
...,...,...,...,...,...,...,...,...,...,...,...
100,100,(주)하이컨시,2.7,2.7,2.6,2.7,2.5,2.3,38%,47%,47%
101,101,(주)정도기술,0.0,0.0,0.0,0.0,0.0,0.0,--%,--%,--%
102,102,(주)엑스와이씨비,5.0,3.7,3.0,5.0,5.0,4.7,100%,100%,100%
103,103,(주)베이콘,3.0,3.0,3.0,3.0,3.0,3.0,--%,100%,100%
104,104,(주)아이티아이,2.7,2.8,2.3,2.1,3.2,2.1,30%,58%,50%

# 내보내기

In [29]:
df_jobplanet_rates.to_csv("data/jobplanet_rates_data.csv", encoding='cp949')