# 텍스트데이터 전처리

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/full_jobplanet_premium.csv")
df

,Unnamed: 0,Unnamed: 0.1,기업명,work_way_txt,culture_txt
0,0,0,(주)키삭,NaN,NaN
1,1,1,(주)이씨뱅크,NaN,NaN
2,2,2,(주)키다리스튜디오,얼렁뚱땅 노답 뭐 프로세스 있는 척... 그냥 아랫사람한테 떠넘겨서 폭탄 처리 시키...,개인적인 분위기가 강하고 자기 일에 문제가없으면 옆에서 무슨일이 일어나도 상관하지않...
3,3,3,에이앤비테크(주),NaN,NaN
4,4,4,(주)서경엔씨에스,NaN,NaN
...,...,...,...,...,...
1014,9,9,(주)티지오,일은.전체적으로 지시를 받아 진행이되는데 일을 모르는상태에서 주니 개선이1도안됩니다...,자유롭지않고 억압적으로 일만하라는 분위기고 가족들끼리만 화기애애합니다가족들끼리만 오...
1015,10,10,(주)원산,조원을 이루고 충분한 수칙및 작업역할을 설명하고 역할분담을 함PJB를 통해 사전에 ...,대체로 자유롭게 편안한 분위기이며오버홀에는 바쁘다보니 사람들이 날카로워져 있기에 분...
1016,11,11,(주)에이치엘엠씨,각자가 1인 1팀으로 일을 진행. 따라서 업무량이 많고 잔업도 많이 있다.회의와 보...,수직적인 분위기이며 팀과 팀간의 교류가 전혀 없습니다. 각자가 각개전투로 업무 진행...
1017,12,12,(주)제이티,신문사가 전신인 회사로 신문사 특유의 보수적이며 경직된 분위기가 남아있음 (아이러니...,"경직되어있으며 수직적임. 혁신, 진보를 외치나 반대 방향으로 흘러가는듯다들 일할때는..."
1018,13,13,(주)지에스인스텍,NaN,NaN

In [5]:
df

Unnamed: 0        0
Unnamed: 0.1      0
기업명               0
work_way_txt    830
culture_txt     841
dtype: int64

In [6]:
del df['Unnamed: 0']
del df['Unnamed: 0.1']
# data['v1'] = data['v1'].replace(['ham','spam'],[0,1])
df[:5]

,기업명,work_way_txt,culture_txt
0,(주)키삭,NaN,NaN
1,(주)이씨뱅크,NaN,NaN
2,(주)키다리스튜디오,얼렁뚱땅 노답 뭐 프로세스 있는 척... 그냥 아랫사람한테 떠넘겨서 폭탄 처리 시키...,개인적인 분위기가 강하고 자기 일에 문제가없으면 옆에서 무슨일이 일어나도 상관하지않...
3,에이앤비테크(주),NaN,NaN
4,(주)서경엔씨에스,NaN,NaN

In [13]:
preprocessed_df = pd.DataFrame()

In [14]:
preprocessed_df['companyName'] = df['기업명']
preprocessed_df['review'] = df['work_way_txt'] + df['culture_txt']

preprocessed_df.head(5)

  companyName                                             review
0       (주)키삭                                                NaN
1     (주)이씨뱅크                                                NaN
2  (주)키다리스튜디오  얼렁뚱땅 노답 뭐 프로세스 있는 척... 그냥 아랫사람한테 떠넘겨서 폭탄 처리 시키...
3   에이앤비테크(주)                                                NaN
4   (주)서경엔씨에스                                                NaN

In [15]:
preprocessed_df.isnull().sum()

companyName      0
review         847
dtype: int64

In [19]:
preprocessed_df.dropna(inplace=True)

In [21]:
preprocessed_df.to_csv('data/preprocessed_jobplanet_review_for_RNN.csv', encoding='cp949')

# 라벨링 데이터 분할

In [27]:
# 0: 수직, 1: 수평
raw_df = pd.read_csv("data/labelled_jobplanet_review_for_RNN.csv", encoding='cp949')
raw_df

,Unnamed: 0,companyName,review,structure
0,2,(주)키다리스튜디오,얼렁뚱땅 노답 뭐 프로세스 있는 척... 그냥 아랫사람한테 떠넘겨서 폭탄 처리 시키...,NaN
1,5,(주)미래아이엔씨,가르쳐주는게 없으니 일단 내 멋대로 해버리고나서 문제 생기면 그때그때 땜빵치는 식으...,NaN
2,7,(주)케이원정보통신,그냥 무능력 팀장은 일안하고 다 밑에 직원들이 다함 도움이 안됨지시와 이행........,0.0
3,8,(주)온고테크,탑다운 프로세스로 진행되었던 같습니다만사이트 배분에 있어 직원들 의견도 청취하고 반...,1.0
4,9,이에스이(주),공정 분석 밎 요구사항 정리후 설비업체 및 내부 관련 부서들과 조사사항 논의 및 협...,0.0
...,...,...,...,...
167,1013,에이엠텔레콤(주),바이러스 프로그램만 빼고 오피스등 모두 어둠의 경로로 다운받은 프로그램 사용함. 인...,NaN
168,1014,(주)티지오,일은.전체적으로 지시를 받아 진행이되는데 일을 모르는상태에서 주니 개선이1도안됩니다...,NaN
169,1015,(주)원산,조원을 이루고 충분한 수칙및 작업역할을 설명하고 역할분담을 함PJB를 통해 사전에 ...,NaN
170,1016,(주)에이치엘엠씨,각자가 1인 1팀으로 일을 진행. 따라서 업무량이 많고 잔업도 많이 있다.회의와 보...,NaN
171,1017,(주)제이티,신문사가 전신인 회사로 신문사 특유의 보수적이며 경직된 분위기가 남아있음 (아이러니...,NaN

In [28]:
# 라벨링된 데이터
labelled_df = raw_df.dropna()

In [33]:
# 라벨링 안된 데이터
cond = raw_df['structure'].isnull()
unlabelled_df = raw_df[cond]

In [34]:
labelled_df.to_csv('data/jobplanet_labelled_review.csv', encoding='cp949')
unlabelled_df.to_csv('data/jobplanet_unlabelled_reveiw.csv', encoding='cp949')